@import 'normalize.scss';
@import 'bourbon';
$em-base:75.000px;
@function px($px) {
    @return rem($px);
}
@mixin dpr($selector, $key, $val) {
    [data-dpr="2"] #{$selector} {
        #{$key}: $val*2;
    }
    [data-dpr="3"] #{$selector} {
        #{$key}: $val*3;
    }
}
//font-family: HY-QiHei40, ETrump-QiHei55, HY-QiHei65;
//Author:jiemo;
// date:2017.01.16

*{
	padding: 0;
	margin:0;
}
html,body{
	height: 100%;
	background-color: #a31722
}
.none{display: none;}
.page{
	height:100%;
	margin:0 auto;
	width: 10rem;
}
.container{
	height:100%;
	background: red;
	background-image: url(../images/jiemo_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	left:0;
	top:0;
	.snow{
		position: absolute;
		background-repeat: no-repeat;
		background-size: contain;
		animation: snow 2s  linear infinite;
	}
	.snow1{
		left:px(500);
		top:px(100);
		background-image: url(../images/snow1.png);;
		width: px(51);
		height: px(46);
	}
	.snow2{
		left:px(600);
		top:px(300);
		background-image: url(../images/snow4.png);;
		width: px(51);
		height: px(46);
	}
	.snow3{
		left:px(140);
		top:px(100);
		background-image: url(../images/snow4.png);;
		width: px(51);
		height: px(46);
	}
	.snow4{
		left:px(50);
		top:px(300);
		background-image: url(../images/snow1.png);
		width: px(51);
		height: px(46);
	}
	.title{
		position: absolute;
		left: px(260);
		top:px(20);
		color: #fff;
		font-size: px(38);
		font-weight: 700;
		width: px(306);
		line-height: px(112);
		height: px(112);
	}
}
// loading_page-S
.loading_page{
	position: absolute;
	left:0;
	top:0;
	z-index: 10;
	height: 100%;
	width: 100%;
	background-color: #000;
	.mask{
		background: -webkit-radial-gradient(rgba(164,23,34,.7) 5%,rgba(22,2,22,.9));
		background: radial-gradient(rgba(164,23,34,.7) 5%,rgba(22,2,22,.9));
		-webkit-animation: lightA 4s linear alternate infinite;
		height: 100%;
		width: 100%;
	}
	.start{
		width:px(65);
		height:px(65);
		position: absolute;
		left:50%;
		top:px(500);
		margin-left: px(-50);
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url(../images/start.png);
		animation: snow 1s linear infinite;
	}
	.progress{
		position: absolute;
		width: px(300);
		height: px(20);
		top:px(590);
		left:50%;
		margin-left: px(-180);
		border-radius: px(50);
		border:px(3) solid #751d24;
		box-shadow: 0 0 px(4) #7b141b;
		overflow: hidden;
	}
	.bar{
		width:0%;
		height: 100%;
		background: #751d24;
	}
	.num{
		position: absolute;
		left: px(335);
		top:px(630);
		color: #f9b858;
		font-size: px(40)
	}
}
// loading_page-E

// content-S
.content{
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width: 100%;
	#jiemoswiper{
		height: 100%;
		.swiper-slide{
			width: 100%;
			height: 100%;
		}
	}
}

h3{
	margin:px(130) 0 0 px(60);
	color: #fff;
	font-size: px(30);
	font-weight: bold;
}
.one_page{
	overflow: hidden;
	position: relative;
	// background-color:#fff;
	.infor{
		a{
			color: #fff
		}
		p{
			font-size: px(28);
			font-weight: 700;
			margin-top: px(20);
			span{
				font-weight: normal;
				margin-left: px(20);
			}
			em{
				float: right;
			}
		}
		margin:px(10) auto 0 auto;
		// border: 1px solid #fff;
		width: px(600);
		color: #fff;
		padding: px(10) px(15);
		li{
			margin:px(20) 0  0 px(20);
		 	font-size: px(32);
		}
	}
	.p2{
		margin-top: px(30)
	}
	.arrow{
		position: absolute;
		bottom: px(50);
		left:px(350);
		width: px(60);
		height: px(80);
		background-image: url(../images/down.png);
		background-size: contain;
		background-repeat: no-repeat;
		-webkit-animation: arrow 1s ease-in alternate infinite;
	}
}
.two_page{
	.part{
		margin-top: px(20);
		border-radius: 12px;
		padding: px(20);
		background: rgba(0,0,0,0.3);
		color: #fff;
		transform:scale(0)
	}
	.part1.part_active{
		-webkit-animation: part 1s ease-in  forwards;
	}
	.part2.part_active{
		-webkit-animation: part 1s 1s ease-in  forwards;
	}
	.part3.part_active{
		-webkit-animation: part 1s 2s ease-in  forwards;
	}
	.infor{
		a{
			color: #fff
		}
		p{
			font-size: px(28);
			font-weight: 700;
			margin-top: px(20);
			span{
				font-weight: normal;
				margin-left: px(20);
			}
			em{
				float: right;
			}
		}
		margin:px(10) auto 0 auto;
		// border: 1px solid #fff;
		width: px(600);
		color: #fff;
		padding: px(10) px(15);
		li{
			margin:px(20) 0  0 px(20);
		 	font-size: px(28);
		}
	}
	.infor2{
		width: px(600);
	}
}
.three_page{
	ul li{
		color: #fff;
		font-size:px(28);
		margin:px(20) 0 0 px(100);
		a{color: #fff;text-decoration: underline;}
	}
	.p2{
		margin-top: px(30);
	}
	.item{
		width: px(200);
		height: px(200);
		margin:px(20) 0 0 px(10);
		background-color: #fff;
		display: inline-block;
		background-size: cover;
	}
	.item_box{
		width: px(660);
		margin:0 auto;
	}
	.active{
		animation: snow 1s linear infinite;
	}
}
// content-E

// css3
@keyframes snow {
	0%{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
    }
  100%{
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
    }
}
@keyframes part {
	0%{
       transform: scale(0)
    }
  100%{
       transform: scale(1) 
    }
}
@keyframes lightA {
		0% {
		  opacity: 1;
		}
		100% {
		  opacity: 0;
		}
}
@keyframes arrow {
	0%{
        transform:translate3d(0,px(-15),0);
        -webkit-transform:translate3d(0,px(-15),0);
    }
  100%{
        transform:translate3d(0,px(15),0);
        -webkit-transform:translate3d(0,px(15),0);
    }
}
